:root {
  /* 
      FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
      COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
      TOGETHER WILL MAKE UP A GIVEN THEME
  */
  --swatch-foundation:    rgba(226, 226, 220, 0.788); /* USED FOR BODY BACKGROUND */
  --swatch-primary:       #E6E6E6; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
  --swatch-complement:    rgb(223, 224, 211); /* USED IN FORGROUND OF PRIMARY FOR TEXT AND BORDERS */
  --swatch_contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
  --swatch-accent:        #669966; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */    
  --my-font-family:          "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background-color: var(--swatch-foundation);
  /*font-family: 'Lexend Exa';*/
  white-space: pre;
}

#home_banner_container {
  background-image: linear-gradient(to bottom,         
  rgb(19, 64, 161), rgb(34, 82, 187), rgb(34, 82, 187));
  color: white;
  font-size: 48pt;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  text-align: center;
  width: 600px;
  height: 150px;
}

.home_logo_link {
  margin-left: 10px;
}

.home_logo_link_text {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.home_logo_link_text:hover{
  text-decoration: none;
  color: rgb(92, 92, 92);
}

#homeToCreateScreenButton {
  width: 600px;
  height: 70px;
  font-size: 30px;
  margin-top: 10px;
  border-radius: 5px;
}

#homeToCreateScreenButtonLink {
  color: black;
  width: 100%;
}

#homeScreenMainDiv {
  margin-left: 22%;
  margin-top: 13%;
}

#homeLeftSideDiv {
  margin-right: 12%;
}

#recentWorkListTitle {
  font-size: 27px;
  text-decoration: underline;
}

#homeLogOutButton {
  margin-left: 89%;
  width: 10%;
  height: 50px;
}

#loginScreenMainDiv {
  margin-top: 10%;
}

#loginScreenUserNameTextField {
  width: 350px;
}

#loginScreenPasswordTextField {
  width: 350px;
}

#loginScreenLogInButton {
  width: 380px;
  height: 35px;
}

#loginScreenLockIcon {
  background-color: rgb(34, 82, 187);
}

#loginScreenSignInText {
  font-size: 24px;
}

#logInScreenBanner {
  margin-bottom: 1%;
}

#loginButtonText {
  color: black;
  width: 100%;
}

#homeToLogInScreenLink {
  color: black;
  width: 500px;
}

#displayedLogoViewLogoScreen {
  white-space: pre;
  display: inline-block;
  margin-left: 160px;
  margin-top:160px;
}

#testLogo {
  white-space: pre;
  display: inline-block;
  margin-left: 260px;
  margin-top:160px;
}

.panel_with_displayed_logo {
  display: flex
}

#editScreenGridContainer {
  width: 95%;
  margin-top: 10px;
  margin-left: 50px;
  padding-left: 40px;
}

#editScreenLogo {
  white-space: pre;
}

#editScreenSubmitButton {
  width: 100%;
  margin-top: 5px;
}

#viewScreenGridContainer {
  width: 80%;
  margin-top: 3%;
  padding-left: 40px;
}

#viewScreenLogo {
  margin-top: 10%;
}

#viewScreenEditButton {
  width: 120px;
  height: 40px;
  margin-right: 3px;
  background-color: rgb(89, 201, 67);
}

#toEditScreenlink {
  width: 100%;
  color: white;
  font-weight: bold;
}

#viewScreenDeleteButton {
  width: 90px;
  height: 41px;
  color: white;
  font-weight: bold;
}

#viewScreenButtons {
  margin-top: 10px;
}

#editScreenLogoComponent {
  margin-right: 40%;
}

#addTextBoxAndImageButtons {
  margin-bottom: 200px;
}

#testGrid {
  border: solid;
  border-color: red;
  width: 80%;
}

#addTextBoxButton {
  position: absolute;
  right: 0;
  margin-right: 50px;
  width: 150px;
}

#addImageButton {
  position: absolute;
  right: 0;
  margin-right: 50px;
  width: 150px;
}

#test {
  border: solid;
  border-color: red;
  font-size: 32px;
  background-color: blue;
}